<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
    <link rel="stylesheet" th:href="@{css/principal/principal.css}">
    <script src="https://kit.fontawesome.com/1842a186b5.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.css}">
</head>
<body style="background-color: var(--body-color)">
    <nav th:replace="fragment/layout :: nav"></nav>
    <h1 class="text-center">Listado De Empresas</h1>
    <div class="container">
        <table>
            <thead>
                <tr>Id</tr>
                <tr>Empresa</tr>
                <tr>Direccion</tr>
                <tr>Telefono</tr>
                <tr>Email</tr>
                <tr>Ruc</tr>
                <tr>Accion</tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <script th:src="@{js/js/principal.js}"></script>
</body>
</html>